.IntroductionPage {
    font-family: Noto Sans CJK TC;
    background: url(/images/血管.svg) no-repeat fixed top;



    .describe {


        .intro-content {
            width: 80%;
        }
    }

    .colorArea {
        background: linear-gradient(0.25turn, #E51010, #9A0000);
        ;

        .team-intro {
            width: 80%;
        }
    }

    .Personal_profile {
        width: 70%;
    }

    .contact {
        iframe {
            border-radius: 20px;
            border: 2px solid #9b9b9b;
        }
    }

    .contact-text {
        width: 60%;

        .form-control {
            border-radius: 1.25rem;
        }

        .submitBtn {
            margin-left: -60px;
            border: 1px solid #888888;
            border-radius: 2.5rem;
        }
    }
}