@mixin md {
    @media(max-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media(max-width: 992px) {
        @content;
    }
}


.LandingPage {
    font-family: Noto Sans CJK TC;
    // position: absolute;
    top: 0;
    z-index: -100;
    color: #969696;
    background: url(/images/img_bg3.png);
    transition: 3s;

    .one-page {
        height: 100vh;
    }

    .slider-img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
    }


    .transition {
        transition: 0.4s;
    }

    .theVision {
        min-height: 100vh;

        .transition {
            transition: width 2s;
        }

        .fp-tableCell {
            display: unset;
            vertical-align: unset;
        }

        .bigLogo {
            opacity: 0.2;
            margin-bottom: 50px;
        }

        .imgarea {
            height: 85vh;
        }

        .arrowDown {
            height: 10vh;
        }




        .text-part1,
        .text-part2 {
            font-weight: 900;
            font-size: 2.5em;
        }

        .text-part1 .letter,
        .text-part2 .letter {
            display: inline-block;
            line-height: 1em;
        }
    }


    .aboutus {
        color: #000000;
        height: calc(100vh - 80px);
        margin-top: -40px;

        .content {
            height: 95%;

            h2,
            p {
                opacity: 0;
                transform: translate(0, 20px);
                transition: 3s;
            }
        }


        .page2-textArea {


            .page2-title {
                font-size: 25pt;

                span {
                    background-color: #FFBC60;
                    border-radius: 3.5rem;
                }

                @include md {
                    font-size: 18pt;
                }
            }

            .aboutArticle {
                width: 70%;
                font-size: 18pt;
                line-height: 2rem;
                color: #818181;
                max-height: 500px;
                overflow: hidden;
            }
        }


    }

    .item2 {
        color: #000000;
        height: calc(100vh - 80px);
        margin-top: -40px;

        .content {
            height: 95%;

            h2,
            p {
                opacity: 0;
                transform: translate(0, 20px);
                transition: 3s;
            }
        }


        .page3-textArea {


            .page2-title {
                font-size: 25pt;

                span {
                    background-color: #FFBC60;
                    border-radius: 3.5rem;
                }

                @include md {
                    font-size: 18pt;
                }
            }

            .aboutArticle {
                width: 70%;
                font-size: 18pt;
                line-height: 2rem;
                color: #818181;
            }
        }


    }


    .organs-page {
        color: #000000;
        height: calc(100vh - 80px);
        margin-top: -40px;

        .content {
            height: 95%;

            .title {
                background-color: #FFBC60;
                border-radius: 3.5rem;
            }

            .page4-title {
                font-size: 25pt;
                max-height: 500px;

                span {
                    background-color: #FFBC60;
                    border-radius: 3.5rem;
                }

                img {
                    height: 100%;
                }

                @include md {
                    font-size: 18pt;
                }
            }


            .organs {

                .blood,
                .lung {
                    margin: 50px 30px;
                }

                img {
                    width: 250px;
                    transition: 2s;
                }



                .lung:hover img {
                    width: 300px;
                    transition: 2s;
                }

                .blood:hover img {
                    width: 270px;
                    transition: 2s;
                }

                .bg-border {
                    height: 40px;
                    width: 120px;
                    border: 1px solid #6d7473;
                    border-radius: 5rem;
                    display: block;

                }


                .sendbtn {
                    border: 1px solid #000000;
                    border-radius: 5rem;
                    width: 120px;
                    background-color: #ffffff;
                    margin-left: -5px;
                    margin-top: -3px;
                }


                .clickshow {
                    max-height: 0;
                    overflow: hidden;
                }

                .showit {
                    max-height: 500px;
                    transition: 0.4s;
                }


            }
        }

        .hidenow {
            max-width: 0;
            overflow: hidden;
            margin: 0 !important;
        }


    }

    .contact-page {
        color: #000000;
        height: calc(100vh - 80px);
        margin-top: -40px;

        .content {
            height: 95%;

            .title {
                background-color: #FFBC60;
                border-radius: 3.5rem;
            }

            .page5-title {
                font-size: 25pt;

                span {
                    background-color: #FFBC60;
                    border-radius: 3.5rem;
                }

                @include md {
                    font-size: 18pt;
                }
            }


            #map {
                height: 300px;
                /* The height is 400 pixels */
                width: 60%;

                /* The width is the width of the web page */
                .googleMap {
                    height: 100%;
                }

                @include md {
                    height: 150px;
                }

            }


        }
    }

}


.fp-viewing-secondPage {
    .LandingPage {
        transition: 3s;

        .aboutus {
            .content {

                h2,
                p {
                    opacity: 1;
                    transform: translate(0, -10px);
                    transition: 5s;
                }
            }
        }
    }
}

.fp-viewing-thirdPage {
    .LandingPage {
        transition: 3s;

        .item2 {
            .content {

                h2,
                p {
                    opacity: 1;
                    transform: translate(0, -10px);
                    transition: 5s;
                }
            }
        }
    }
}

body.clickednow {
    .LandingPage {
        .organs-page {
            .content {
                .page4-title {
                    // opacity: 0;
                    max-height: 0;
                    overflow: hidden;
                    font-size: 0;

                    img {
                        height: 0;
                    }

                }
            }
        }
    }

}