.ProductList {
    .classification {
        #all {
            background-image: url(/images/btm_all.svg);
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
        }

        .active1 {
            width: 50px;
            height: 50px;
            background-image: url(/images/btm_all_hover.svg) !important;

        }

        #cig {
            color: #000000;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
        }

        .active2 {
            color: #49d3f1;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;

        }

        #house {
            background-image: url(/images/btm_hous.svg);
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
        }

        .active3 {
            background-image: url(/images/btm_hous_hover.svg) !important;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;

        }

        #wind {
            background-image: url(/images/btm_na.svg);
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
        }

        .active4 {
            background-image: url(/images/btm_na_hover.svg) !important;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;

        }

        #factory {
            background-image: url(/images/btm_work.svg);
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
        }

        .active5 {
            background-image: url(/images/btm_work_hover.svg) !important;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;

        }

        #sick {
            background-image: url(/images/btm_sick.svg);
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;
        }

        .active6 {
            background-image: url(/images/btm_sick_hover.svg) !important;
            background-repeat: no-repeat;
            width: 60px;
            height: 60px;

        }

    }

    .lotsCase {
        a {
            color: #000000;

            &:hover {
                text-decoration: none;
            }

            .linkimg {
                // height: 250px;
            }

            .linktitle {
                text-align: center;


            }

            .linktext {
                height: 1.5rem;
                text-align: center;
                overflow: hidden;
            }
        }
    }

    .pagination {

        li {
            margin: 0 5px;
            cursor: pointer;
        }

        .previous {}

    }


}